_tripgraph.so
aclocal.m4
autom4te.cache
config.log
config.mk
config.status
configure
gmap_api_key
*~
*.o
*.pyc
*.routez
libroutez.so
routez.db
.*.swp
tags
testgraph
tripgraph.py
tripgraph_wrap_py.cc
tripgraph_wrap_rb.cc
