[buildout]
eggs = 
     Django
     PyYAML
     parsedatetime
     routez
     flup
     simplejson
     transitfeed
     rtree
versions = versions
parts = 
      var_directory 
      libspatialindex
      rtree
      libroutez_autogen
      libroutez 
      neocoder_autogen
      neocoder 
      libyaml 
      _python 
      python 
      django 
      routez
      routez_settings
      rtree_link
      creategraph
      createdb
      creategeodb
      createall
      copyvar
      nginx_conf
      restart_routez

develop = 
    ${buildout:directory}/src

versions = recipe-versions

[recipe-versions]
zc.buildout = 1.4.3
zc.recipe.egg = 1.2.2

[buildout]
download-directory = ${buildout:directory}/downloads
download-cache = ${buildout:download-directory}

[versions]
rtree = 0.6.0

[geodata]
gtfs_file = 
osm_file =
gml_file =

[routez_server]
ssh_alias = 
buildout_directory = 

[development]
templates-directory = ${buildout:directory}/etc/templates
var-directory = ${buildout:directory}/var
parts-directory = ${buildout:directory}/parts
routez = ${buildout:directory}/routez

[bin-template-macro]
recipe = collective.recipe.template
input = ${development:templates-directory}/${:filename}.in
output = ${buildout:bin-directory}/${:filename}

[ldwrapper-macro]
recipe = collective.recipe.template
input = ${development:templates-directory}/ldwrapper.in
output = ${buildout:bin-directory}/${:filename}

[var_directory]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds = mkdir -p ${development:var-directory}

[libyaml]
recipe = zc.recipe.cmmi
url = http://pyyaml.org/download/libyaml/yaml-0.1.3.tar.gz

[libroutez_autogen]
recipe = iw.recipe.cmd
on_update = true
on_install = true
cmds = cd src/libroutez && ./autogen.sh

[libspatialindex_env]
# a ridiculous hack necessary until the next release of spatialindex (which
# supports gcc 4.4)
CXXFLAGS=-include stdint.h

[libspatialindex]
recipe = hexagonit.recipe.cmmi
url = http://download.osgeo.org/libspatialindex/spatialindex-1.4.0.tar.gz
environment-section = libspatialindex_env

[rtree]
recipe = zc.recipe.egg:custom
version = 0.6.0
egg = rtree == ${:version}
include-dirs = ${libspatialindex:location}/include
library-dirs = ${libspatialindex:location}/lib
rpath = ${libspatialindex:location}/lib

[rtree_link]
recipe = collective.recipe.cmd
on_update = true
on_install = true
cmds = 
     cd develop-eggs && ln -sf Rtree-${rtree:version}*.egg rtree

[libroutez]
recipe = hexagonit.recipe.cmmi
path = ${buildout:directory}/src/libroutez

[neocoder_autogen]
recipe = iw.recipe.cmd
on_update = true
on_install = true
cmds = cd ${buildout:directory}/src/neocoder && ./autogen.sh

[neocoder]
recipe = hexagonit.recipe.cmmi
path = ${buildout:directory}/src/neocoder

[gtfs]
recipe = hexagonit.recipe.download
url = http://www.gtfs-data-exchange.com/gtfs/halifax-metro-transit_20091231_1727.zip
download-only = true

[_python]
recipe = zc.recipe.egg
interpreter = _python
eggs = ${buildout:eggs}
extra-paths = ${buildout:directory}/parts/libroutez/lib/python/
	   ${neocoder:location}/lib/python  

[python]
<= ldwrapper-macro
filename = python
executable = ${buildout:directory}/bin/_python

[nginx_conf]
recipe = collective.recipe.template
input = ${development:templates-directory}/routez-nginx.conf.in
output = ${buildout:directory}/etc/routez-nginx.conf

[restart_routez]
<= bin-template-macro
filename = restart-routez

[creategraph]
<= bin-template-macro
filename = creategraph

[createdb]
<= bin-template-macro
filename = createdb

[creategeodb]
<= bin-template-macro
filename = creategeodb

[createall]
<= bin-template-macro
filename = createall

[copyvar]
<= bin-template-macro
filename = copyvar

[routez_settings]
recipe = collective.recipe.template
input = ${development:templates-directory}/local_settings.py.in
output = ${buildout:directory}/src/routez/local_settings.py
cmaps_style_id = 1714
use_local_geocoder = 1

[django]
recipe = djangorecipe
version = 1.1.1
settings = settings
project = routez
projectegg = routez
eggs = ${buildout:eggs}
extra-paths = ${libroutez:location}/lib/python 
	    ${neocoder:location}/lib/python

[routez]
<= ldwrapper-macro
filename = routez
executable = ${buildout:directory}/bin/django
