[buildout]
extends = buildout.cfg

[routez_settings]
cmaps_api_key = 
analytics_key = 

[geodata]
gtfs_file = /full/path/to/gtfs/file
osm_file = /full/path/to/osm/file
gml_file = /full/path/to/gml/file
