<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>About</title>
  <link rel="icon" type="image/png" href="site_media/images/favico_bus.png"/>
  <link href="site_media/stylesheets/scaffold.css" rel="stylesheet" type="text/css" />
  <link href="site_media/stylesheets/style.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="site_media/javascripts/jquery-1.4.2.js"></script> 
  <script type="text/javascript" src="site_media/javascripts/jquery.layout-1.2.0.js"></script> 

  <script type="text/javascript">
    $(document).ready(function () {
	$('body').layout({ defaults: { spacing_open: 0 }, 
                           applyDefaultStyles: true, 
                           north: { innerHeight: 30 },
                           center: { } });
    });
  </script>


  <style type="text/css">
    v\:* {
    behavior:url(#default#VML);
    }
  </style>

</head>

<body id="nav_about">

  {% include 'header.html' %}
  {% include 'analytics.html' %}

  <div class="ui-layout-center" style="overflow: auto;">
    <div id="content">
    <h2>Motivation and Philosophy</h2>
    <p>The aim of hbus.ca is to make bus and ferry travel in Halifax and the surrounding regions easier and more enjoyable, by reducing the time needed 
      to plan trips. Want to go somewhere but wondering how to do so? Our philosophy is that you should be able to get (maybe many) good answers to that
      question in as little time as possible. 15 seconds is good. 5 is better.</p>
    <p>In addition to a trip planner, we also provide a "nearby" feature for quickly finding out upcoming bus departures near a certain location. This
      can be helpful in cases where there are many different potential options for getting from one place to another.</p>

    <h2>Technology</h2>
    <p>hbus.ca was built on top of an agglomeration of technologies, called "Routez".</p>
    <p>Web services are built on top of the <a href="http://djangoproject.org">Django framework</a>.
      On the frontend, we have lots of custom JavaScript code using <a href="http://jquery.org">jQuery</a>
      and the <a href="http://code.google.com/apis/maps">CloudMade Maps API</a>. The basemap that you see
      was constructed by the amazing <a href="http://openstreetmap.org">OpenStreetmap</a>. The actual pathfinding 
      is done via the opensource <a href="http://github.com/wlach/libroutez">libroutez</a> library.</p>
    
    <a name="opensource"></a>
    <h2>Opensource</h2>
    <p>The technology behind hbus.ca, "Routez" is free software, licensed under the
      <a href="http://www.affero.org/oagpl.html">Affero GPL</a>. The source is available on <a href="http://github.com/wlach/routez">github</a>:
      feel free to build on it to make your own awesome transit site! You are even allowed to sell/commercialize the result, if you like: 
      the only restriction is that you must make the source to your work available to any user of your product under the same terms as we 
      have.</p>
    
    <h2>Data</h2>
    <p>hbus.ca uses the official Google Transit feed generated by Metro Transit, with some minor modifications to make stop and route information
      easier to understand. Should you wish to use this data in your own project, you can find it on 
      <a href="http://halifax.ca/GoogleTransit/developerdata.html">the Metro Transit data page</a> or on the
      <a href="http://www.gtfs-data-exchange.com/agency/halifax-metro-transit/">GTFS Data Exchange</a>.</p>
    
    <h2>Transit to Go</h2>
    <p>Like hbus.ca? Have an iPhone? Take a look at <a href="http://transittogo.mindsea.ca">Transit to Go</a>, the fast way to location-sensitive
      schedule information.</p>

    <h2>Authors</h2>

    <p>Most of the backend used in this site was written by <a href="http://masalalabs.ca">William Lachance</a>. The site design (HTML, CSS, 
      and icons) was created by the talented <a href="http://thisisfranciswu.com/">Francis Wu</a>.</p>

    <p>Additional thanks to Brandon Martin Anderson 
      (of <a href="http://github.com/bmander/graphserver">Graphserver</a>), 
      Kieran Huggins and Kevin Branigan (of <a href="http://myttc.ca">MyTTC.ca</a>), 
      and <a href="http://danielharan.com">Daniel Haran</a> for their ideas.</a></p>

    {% include 'footer.html' %}
    </div>
  </div>

</body>

</html>
