<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>About</title>
  <link rel="icon" type="image/png" href="site_media/images/favico_bus.png"/>.
  <link href="site_media/stylesheets/scaffold.css" rel="stylesheet" type="text/css" />
  <link href="site_media/stylesheets/style.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    v\:* {
    behavior:url(#default#VML);
    }
  </style>

</head>

<body id="nav_about">

  {% include 'header.html' %}
  {% include 'analytics.html' %}

  <div class="container">

    <h2>Motivation</h2>
    <p>The aim of hbus.ca is to make bus travel in Halifax and the surrounding regions less painful. Metro Transit provides reasonably
    reliable service, but it can be difficult to figure out which bus to take to get from place to place, especially for those
    who are new to the city or who do not ordinarily take public transit. It should be noted that hbus.ca is <strong>NOT</strong> affiliated with or endorsed by the city
    of Halifax or Metro Transit. It is an independantly run site, very much in development at the moment. As such, the directions given by hbus.ca come with zero guarantees.</p>

    <h2>Technology</h2>
    <p>hbus.ca was built on top of many technologies, some proprietary, some open source.</p>
    <p>The main software that drives this site is called "Routez". It
    is built on top of the <a href="http://djangoproject.org">Django
    framework</a>, with lots of JavaScript code in the
    front end. The giant map you see is courtesy of the
    <a href="http://code.google.com/apis/maps">CloudMade
    Maps API</a> as well as the tireless work of amazing
    <a href="http://openstreetmap.org">OpenStreetmap</a>
    volunteers. The actual pathfinding is done via the opensource <a
    href="http://github.com/wlach/libroutez">libroutez</a> library.</p>
    
    <p>Routez was built by the <a href="http://navarra.ca">Navarra Group</a>, a team of highly skilled software developers. Want to build an awesome dynamic website or mobile application? Maybe we can help.</p>

    <h2>Data</h2>
    <p>To generate a set of data that can be used by this site's pathfinding algorithm, we have prepared a <a href="http://googletransitdatafeed.org/">Google Transit Feed</a> of Metro Transit's transit network. The schedule data was converted from the main Metro Transit web site. Currently only the 1, 3, 4, 5, 6, 7, 9, 10, 14, 17, 18, 2, 20, 21, 23, 52, 58, 80, 81 are covered (service off the main Halifax peninsula may be limited to time point stops). Stop location information was gathered using a handheld GPS and/or derived from the <a href="http://geobase.ca">GeoBase dataset</a>. The feed and the tools used to build it are opensource and in active development: for more information,  see the <a href="http://github.com/wlach/halifax-transit-feed">Halifax Transit Feed</a> project.</p>
    <p>It should be noted that <a href="http://halifax.ca/metrotransit">Metro Transit</a> had no involvement in the
    preparation of this data and should not be blamed for any errors or omissions.</p>
    
    <h2>Acknowledgements</h2>
    
    <p>Many thanks to Brandon Martin Anderson of <a href="http://github.com/bmander/graphserver">Graphserver</a> and
    Kieran Huggins and Kevin Branigan of <a href="http://myttc.ca">MyTTC.ca</a> for their ideas.</a>

    {% include 'footer.html' %}

  </div>

</body>

</html>
