<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>hbus.ca</title>
    <meta name = "viewport" content = "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width"/>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ key }}" type="text/javascript"></script>

    <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo/yahoo-min.js"></script> 
    <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/cookie/cookie-min.js"></script> 
    <script type="text/javascript" src="lib/javascripts/openrp.js" type="text/javascript"></script>
    
    <script type="text/javascript">
    function load() {
        // hide the route plan when the page is first loaded
        document.getElementById('route-plan').style.display = 'none';
        setupLocations();
        if (GBrowserIsCompatible()) {
           geocoder = new GClientGeocoder();
        }
    }
    </script>
  </head>

  <link href="lib/stylesheets/scaffold.css" rel="stylesheet" type="text/css" />
  <link href="lib/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    v\:* {
    behavior:url(#default#VML);
    }
  </style>

  <body id="nav_home" onload="load();" onunload="GUnload()" class="yui-skin-sam">

    {% include 'header-iphone.html' %}

  <div id="panels">

    <p id="intro">
      <strong>hbus.ca</strong> is <em>an unofficial service</em> providing trip planning for users of the <a href="http://www.halifax.ca/metrotransit/">Metro Transit</a> system in the greater area of Halifax, Nova Scotia.
    </p>

    {% include 'routeplan-form.html' %}

    <div id="route-plan" class="panel">
      <h2>Directions</h2>
      <div class="content">
        <div id="route-plan-content"></div>
      </div>
    </div>
  </div>
  </body>
</html>
