<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Privacy</title>
  <link rel="icon" type="image/png" href="site_media/images/favico_bus.png"/>.
  <link href="site_media/stylesheets/scaffold.css" rel="stylesheet" type="text/css" />
  <link href="site_media/stylesheets/style.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    v\:* {
    behavior:url(#default#VML);
    }
  </style>

</head>

<body id="nav_privacy">

  {% include 'header.html' %}
  {% include 'analytics.html' %}

  <div class="container">

    <h2>Privacy policy</h2>
    <p>When you submit a search to hbus.ca, you are passing location-based 
      information to our servers. We promise that this information will not be 
      shared with others or used for any other purpose than providing trip 
      information. At minimum, we promise to purge our logs of this information
      once every 6 months.</p>
    <p>

    {% include 'footer.html' %}

  </div>

</body>

</html>
