body, select, ol, ul, td {
  background: #ffffff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  margin:10px 10px 10px 10px;
  padding: 0px;
}

#content {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

#sidebar-wrapper {
  position: relative;
  width: 320px;
  z-index: 300;
}

#sidebar {
  width: auto;
}

.plan-trip {
    margin-bottom: 1cm;
}

.input-box .title {
    padding: 0.25em;
    background: #eef;
    border-top: 1px solid #ccf;
    border-left: 1px solid #ccf;
    border-right: 1px solid #aaf;
    border-bottom: 1px solid #bbf;
}

.input-box .fieldset {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
    padding-top: 1em;
    border-left: 1px solid #ccf;
    border-right: 1px solid #aaf;
    border-bottom: 1px solid #aaf;
}

.input-box .fieldset .label {
    padding:0.2em;
    float: left;
    width: 5em;
    margin-right: 0.5em;
    height: 25px;
    text-align: right;
    margin-top:0.3em; 
}

.input-box .fieldset .nobr {
	display:none; 
}  

.input-box .fieldset .button {
    margin:3px;
    height:25px;
    float:right;
}


.input-box .fieldset .textfield {
    margin:3px;
    height:25px;
}


.input-box .fieldset .example {
      position: relative;
      left: 80px;
      top: -5px;
      width: 150px;
      font-size: 10px;
      color: #a0a0a0;
      margin-top: .5em;
      margin-bottom: .3em; 
}

#map-wrapper {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  top: 0.5cm;
  margin-right: 25px;
  z-index: 100;
}
   
#map {
  margin-left: 320px;
  width: 600px;
  left: 1em;
  height: 400px;
  border: 1px solid #aaa;
}

#bottombar {
  position: relative;
  margin-top: 60px;
  border: 1px solid #aaa;
  height: 60px;
}

body {
  font-family:helvetica,arial,sans, sans-serif;
}
h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
h3 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.tooltip {
  white-space: nowrap;
  padding: 2px;
  color: black;
  font-weight: bold;
  font-size: 12px;
  background-color: white;
  filter:alpha(opacity=60); 
  -moz-opacity: 0.6; 
}
.shortName {
  font-size: bigger;
  font-weight: bold;
}
